.th-zero {
    min-height: 30vh;
    padding: 1rem; 
}

.th-one {
    /* background-color: #f1f2f3; */
    border: #e2e2e2 1px solid;
    min-height: 30vh;
    border-radius: 5px;
    padding: 1rem; 
}

.header{
    font-family: sans-serif;
}

.profile-img {
    width: 200px;
    height: 200px; /* Make height equal to width for a perfect circle */
    border: 4px solid #166fc9;
    border-radius: 50%; /* Creates the circular shape */
    object-fit: cover; /* Ensures the image fits within the circle */
}

